<h2>   Add a New Customer</h2>
<hr>
<hr>

<table>
<form action="/customers/<%= @customer.id %>" method="post">
  <tr><td><label> 
    Name:
    <input type="text" name="name" value='<%= @customer.name %>'>
  </label></td></tr>
  <tr><td><label> 
    Street:
    <input type="text" name="address_line_1" value="<%= @customer.address_line_1%>">
  </label></td></tr>
  <tr><td><label> 
    Town:
    <input type="text" name="address_line_2" value="<%= @customer.address_line_2 %>">
  </label></td></tr>
  <tr><td><label> 
    Postcode:
    <input type="text" name="postcode" value="<%= @customer.postcode %>">
  </label></td></tr>
  <tr><td><label> 
    Allowed Credit:
      <input type="number" name="funds" value="<%= @customer.funds %>">
    </label></td></tr>

  <tr><td><input type="submit" value="Ammend Customer"/></td></tr>
</form>
</table>
<hr>
