<h1>Customers</h1><tr><td><form action="/customers/new" method="get"><input class="submit_button" type="submit" value="Add a new customer"></form></td>  
</tr>

<br>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Address Line 1</th>
    <th></th>
    <th>Address Line 2</th>
    <th></th>
    <th>postcode</th>
    <th></th>
    <th>funds</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.name %></td>
    <td>|</td>
    <td><%= customer.address_line_1 %></td>
    <td>|</td>
    <td><%= customer.address_line_2 %></td>
    <td>|</td>
    <td><%= customer.postcode %></td>
    <td>|</td>
    <td>£<%= customer.funds %></td>
    <td>|</td>
    <td><form action="/customers/<%= customer.id() %>/ammend" method="get"><input class="submit_button" type="submit" value="Ammend"></form></td>   
    <td><form action="/customers/<%= customer.id() %>/remove" method="post"><input class="submit_button" type="submit" value="Remove"></form></td>  
  </tr>
  <% end %>
</table>

